
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: "Bodoni Moda", serif;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right,rgb(9, 45, 37),rgb(21, 87, 21));
}
.left-text{
    flex-basis: 30%;
}
.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
    
    
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    cursor: pointer;
}
.box:hover{
    background-color: #999;
    transition: all 1s ease-in-out;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
.heading{
    font-size: 3rem;
    align-items: center;
    color: white;
}
.subheading{
    margin-top: 10px;
    align-items: center;
    color: white;

}
