*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.small-container{
    border-radius: 15px;
    margin: 35px auto ;
    width: 1260px;
    height: 555px;
    overflow: hidden;
    box-shadow: 1px 1px 25px 1px;
}
img{
    width: 700px;
    height: 555px;
}
.row{
    display: flex;
}
.col{
    display: flex;
}
h1
{
    font-size: x-large;
    color: blue;
    font-weight: bolder;
    margin-top: 100px;
    margin-left: 150px;
}
#p{ 
    margin-left: 150px;
    font-size: small;
}
.input1{
    height: 50px;
    width: 400px;
    margin-top: 50px;
    
    margin-left: 150px;
    padding-left: 10px;
    border: none;
}
    .input2{
        height: 50px;
        width: 400px;
        margin-top: 15px;
        margin-left: 150px;
        padding-left: 10px;
        border: none;

}
hr{
    width: 50%;
    margin-left: 150px;
}
#p1{
    margin: 10px;
    margin-left: 280px;
    color: blue;

}
#btn{
    margin-left:150px;
    margin-top: 30px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
    background-color: blue;
    color: #fff;

}
