*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(90deg, #232021 0, #0093c8);

}
.box1{
    display: flex;
    width: 1140px;
    margin: auto;
    padding-left: 100px;

}
.colm1{
    display: flex;
    width: 570px;
    justify-content: space-between;
    align-items: center; 
    padding: 200px 0px;
}
.colm2{
    display: flex;
    width: 570px;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0px; 
}
.row1{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.row2{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
